
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2（登入成功，才能看見）</title>
</head>
<body bgcolor="green">
    <div>

        <font color="white">
            <h3>Index2（登入成功，才能看見）</h3>
        </font>

        <font color="yellow">
            <h3>Index2（登入成功，才能看見）</h3>
        </font>

        <font color="white">
            <h3>Index2（登入成功，才能看見）</h3>
            <br /><br />

            @Html.ActionLink("開立收據", "OrderCreate","CGH")

            ...... @Html.ActionLink("登出（LogOut）", "LogOut")
        </font>

    </div>
</body>
</html>
