
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

    <body  bgcolor=#000000>
        
        <div class="container" style="color:white;">
            <div class="navbar-header" style="color:white;">
                <a href="http://localhost:58186/Login/Index2" target="_parent" style="text-decoration:none;color:#cccccc;">重光醫院<br/>資訊系統</a>

            </div>
            <br />
            <br />
            <li><a href="http://localhost:58186/Home/About" target="_parent" style="text-decoration:none;color:#cccccc;">關於</a></li>
            <li><a href="http://localhost:58186/Home/Contact" target="_parent" style="text-decoration:none;color:#cccccc;">連絡人</a></li>
            <li><a href="http://localhost:58186/Login/LogOut" target="_parent" style="text-decoration:none;color:#cccccc;">登出</a></li>

            </ul>
        </div>
           
       
    </body>
</html>
