@{
    ViewBag.Title = "聯絡資訊";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
   楊文捷<br />
   資訊課<br />
    <abbr title="Phone">分機:</abbr>
    128
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Jamesx0517@gmail.com">Jamesx0517@gmail.com</a><br />

</address>